@import url('form.css');

* {
	font-family: arial;
	font-size: 8pt;
}

.error {
	color: red;	
}

.success {
	color: blue;
	margin: 10px 0px 10px 0px;
	font-weight:  bold;
	font-size: 1.2em;
	text-align: center;
}

.big {
	font-weight:  bold;
	font-size: 1.2em;
	margin: 10px 0px 10px 0px;
}

.nav {
	float: right;
	text-align: center;
}

h1 {
	font-size: 2em;
	margin-top: 1em;
	margin-bottom: 1em;
	color: #8c8c8c;
}

h2 {
	font-size: 1.5em;
	margin-top: 0.8em;
	margin-bottom: 0.8em;
}

h3 {
	font-size: 1.25em;
}

.title {
	font-size: 2em;
	margin-top: 1em;
	margin-bottom: 1em;
	color: #ab2131
}

.subtitle {
	font-size: 1.5em;
	margin-top: 0.8em;
	margin-bottom: 0.8em;
	font-weight: bold;
}

a {
	font-size: 1em;
	text-decoration: none;
	color: #2269b6;
}
a:hover{
	text-decoration: underline;
}

.right {
	text-align: right;
}

.center {
	text-align: center;
}

.left {
	text-align: left;
}

A.option {
	font-size: 0.8em;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	padding: 5px 10px 5px 10px;
	border-right: 1px dotted #c0c0c0;
	vertical-align: middle;
	height: 1.5em;
	text-transform: uppercase;
}

A.option:hover  {
	color: #666682;
	text-decoration: none;
}

.bg_blue {
	background-color: #003466;
}

.fg_blue {
	color: #003466;
}

.bg_gray {
	background-color: #f2f2f2;
}
.fg_gray {
	color: #f2f2f2;
}

.bg_dark_gray {
	background-color: #5a5a5a;
}

.fg_dark_gray {
	color: #5a5a5a;
}

.bold {
	font-weight: bold;
}

.container {
	text-align: left;}
.label{
	background:#ff9956;
	color: #fff;
	font-weight: bold;
}
.button{
	background:#ff9956;
	color: #FFFFFF;
	font-size: 8pt; 
	border-style: solid; 
	border-width: 1px;
	padding: 1px 1px 1px 4px; 
	padding-left: 4px; 
}
