@charset "utf-8";
/* CSS Document */

a.imageHandlerLink{ color:#FFFFFF; text-decoration:none; font-family:Arial, Helvetica, sans-serif; font-size:12px;}
a.imageHandlerLink:hover{ color:#DE0C14; text-decoration:none; font-family:Arial, Helvetica, sans-serif;font-size:12px;}

